
@{
    ViewBag.Title = "PurchaseConfirmation";
}

<h2>Congratulations Your Purchase Was Successful</h2>
<h3>Click the link below to return your stock account portfolio details page</h3>
@Html.ActionLink("Porfolio Details", "Details", "StockAccounts")

