
@{
    ViewBag.Title = "MoreThanOneError";
}

<h2>Error</h2>
<div class="alert alert-danger">
    You can only have one IRA account or you are older than 70.
</div>
<a class="btn btn-success" href="/">OK</a>


