
@{
    ViewBag.Title = "AccountConfirmation";
}

<h2>Account Confirmation</h2>
<h3>Congradulations on Creating Your New Account</h3>
<h4>Your account is currently under review by a manager</h4>
<h4>Once your account has been approved you have access to all of your features</h4>

@Html.ActionLink("Go to the Portal", "Portal", "Home", null, new { @class = "btn btn-sucess" })

