
@{
    ViewBag.Title = "Fired";
}

<h2>Fired</h2>

<p>
    <h4>You've been fired. Please contact the manager.</h4>
</p>


@Html.ActionLink("OK", "Index", "Home", null, new { @class = "btn btn-success" })