
@{
    ViewBag.Title = "Frozen";
}

<h2>Frozen</h2>
<p>
    <h4>Your Account has been frozen. Please contact the manager.</h4>
</p>


@Html.ActionLink("OK", "Portal", "Home", null, new { @class = "btn btn-success"})