
@{
    ViewBag.Title = "WithDrawlError";
}

<h2>WithDrawlError</h2>

<div class="alert alert-danger">
    You cannot withdraw from an account wth zero dollars or a negative account balance, and you cannot overdraw more than 50 dollars from your account.
</div>

<div>
    @Html.ActionLink("Back To All Accounts", "Portal", "Home")
</div>

