
@{
    ViewBag.Title = "BalanceError";
}

<h2>BalanceError</h2>
<div class="alert alert-danger">
    You cannot make a payment with a balance of zero or less
</div>

<div>
    @Html.ActionLink("Back To All Accounts", "Portal", "Home")
</div>
