
@{
    ViewBag.Title = "WithDrawlError";
}

<h2>WithDrawlError</h2>

<div class="alert alert-danger">
    You cannot deposit more than $5,000 to your IRA account in one year.
</div>

@Html.ActionLink("Ok", "PayBillsPage") 

