
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Longhorn Bank</h2>
<p>Here, we take your money & you'll like it</p>
<p>@Html.ActionLink("Take me to the Customers Page", "Index", "Customers")</p>



