
@{
    ViewBag.Title = "More Than One Account Error";
}

<h2>Account Creation Error</h2>
<div class="alert alert-danger">
    You can only have one Stock account.
</div>
@Html.ActionLink("OK", "Portal", "Home", null, new { @class = "btn btn-default"})

