
@{
    ViewBag.Title = "Dispute Confirmation";
}

<h2>Dispute Confirmation</h2>
<h3>Your dispute has been confirmed, a manager will be in touch!</h3>
@Html.ActionLink("Portal", "Portal", "Home", null, new { @class = "btn btn-primary"})

