
@{
    ViewBag.Title = "NoMoreDeposits";
}

<h2>NoMoreDeposits</h2>

<div class="alert alert-danger">
    You can no longer deposit money in your IRA.
</div>

<div>
    @Html.ActionLink("Back To All Accounts", "Portal", "Home")
</div>

