
@{
    ViewBag.Title = "UnqualifiedMax";
}

<h2>UnqualifiedMax</h2>

<div class="alert alert-danger">
    You cannot withdrawal more than 3000 dollars in an unqualified distribution
</div>

<div>
    @Html.ActionLink("Back To All Accounts", "Portal", "Home")
</div>

